.header {
    width: 100%;
    color: #fff;
    padding-top: 0;
}

#top {
    padding-top: 0;
}

#clock {
    box-sizing: content-box;
    margin-left: 10px;
}

#me {
    position: absolute;
    text-align: right;
    right: 0;
}

#opener {
    text-align: center;
}